pin-depends: [
  ["serde.dev" "https://pkgs-ml.fly.io/github.com/serde-ml/serde/main/serde"]
  ["serde_derive.dev" "https://pkgs-ml.fly.io/github.com/serde-ml/serde/main/serde_derive"]
  ["serde_sexpr.dev" "https://pkgs-ml.fly.io/github.com/serde-ml/sexpr/main/sexpr"]
  ["serde_json.dev" "https://pkgs-ml.fly.io/github.com/serde-ml/serde/main/serde_json"]
  ["blink.dev" "https://pkgs-ml.fly.io/github.com/suri-framework/blink/opam-pin-depends-bug/blink"]
  ["mlx.dev" "https://pkgs-ml.fly.io/github.com/ocaml-mlx/mlx/opam-pin-depends-bug/mlx"]
]
