pin-depends: [
  ["nomad.dev" "https://pkgs-ml.fly.dev/p/github.com/suri-framework/nomad/main/nomad"]
  ["blink.dev" "https://pkgs-ml.fly.dev/p/github.com/suri-framework/blink/main/blink"]
  ["mlx.dev" "https://pkgs-ml.fly.dev/p/github.com/ocaml-mlx/mlx/main/mlx"]
]
