pin-depends: [
  ["blink.dev" "https://pkgs-ml.fly.dev/p/github.com/suri-framework/blink/opam-pin-depends-bug/blink"]
  ["mlx.dev" "https://pkgs-ml.fly.dev/p/github.com/ocaml-mlx/mlx/opam-pin-depends-bug/mlx"]
]
